<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:fragment="tabela-pesquisa-cidade">
	<div class="container-fluid">
		<div class="table-responsive">
			<table id="tabelaCidade" class="col-md-12 table table-striped table-bordered table-hover " style="width:100%">
				<thead>
					<tr>
						<th style="text-align: center;">id</th>
						<th style="text-align: center;">Cidade</th>
						<th style="text-align: center;">Estado</th>
						<th style="text-align: center;">Sigla</th>
						<th style="text-align: center;">DDD</th>
						<th style="text-align: center;">Ibge</th>
						<th style="text-align: center;">Id</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
</html>
