<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-switch.min.css}">
<link rel="stylesheet" th:href="@{/css/upload.min.css}" />
</head>
<body>
	<section layout:fragment="corpo">
		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-edit"></i>Cadastro de Pessoas Físicas - Dados
					Pessoais
				</h1>
			</div>
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrumb-item"><i class="fa fa-search fa-lg"></i></li>
				<li class="breadcrumb-item"><a
					th:href="@{/pessoa_fisica/listar}">Pesquisa Pessoa Física</a></li>
			</ul>
		</div>
		<div class="container-fluid">
			<div class="bs-component">
				<form class="form-horizontal" th:object="${pessoa}" method="POST"
					th:action="@{/pessoa_fisica/salvar}" autocomplete="off">
					<input type="hidden" id="idPessoa" th:field="*{id}" />
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						    <div th:replace="fragments/validacao :: validacao"></div> 
							<div th:replace="fragments/alert"></div>
						</div>
					</div>

					<div class="tile">
						<h4 class="tile-title">Dados Pessoais</h4>
						<div class="tile-body">

							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
									<div class="form-group">
									    <label for="nome" class="control-label"><b>Nome</b></label>
										<div class="input-group ">
											<span class="input-group-prepend"> <i
												class="input-group-text fa fa-user fa-lg" ></i>
											</span> 
											<input type="text" id="nome" class="form-control" name="nome"
												th:field="*{nome}"
												th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" />
												
											<div class="invalid-feedback">
												<span th:errors="*{nome}"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 col-xl-2">
									<div class="form-group">
										<label for="dataNascimento" class="control-label"><b>Data
												Nascimento</b></label>
										<div class="input-group">
											<span class="input-group-prepend"> <span
												class="input-group-text fa fa-calendar fa-lg" aria-hidden="true"></span>
											</span> <input type="text" id="dataNascimento"
												class="form-control js-data" name="dataNascimento"
												th:field="*{dataNascimento}"
												th:classappend="${#fields.hasErrors('dataNascimento')} ? 'is-invalid'" />
											<div class="invalid-feedback">
												<span th:errors="*{dataNascimento}"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 col-xl-2">
									<div class="form-group">
										<label for="estadiCivil" class="control-label"><b>Estado
												Cívil</b></label>
										<div class="input-group">
											<span class="input-group-prepend"> <span
												class="input-group-text fa fa-list fa-lg" aria-hidden="true"></span>
											</span> <select id="estadoCivil" class="form-control"
												th:field="*{estadoCivil}">
												<option value="">Selecione ...</option>
												<option th:each="estadocivil : ${estadocivis}"
													th:value="${estadocivil}"
													th:text="${estadocivil.descricao}"
													th:classappend="${#fields.hasErrors('estadoCivil')} ? 'is-invalid'">
												</option>
											</select>
											<div class="invalid-feedback">
												<span th:errors="*{estadoCivil}"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 col-xl-2">
									<div class="form-group">
										<label for="sexo" class="control-label"><b>Sexo</b></label>
										<div class="input-group">
											<span class="input-group-prepend"> <span
												class="input-group-text fa fa-list fa-lg" aria-hidden="true"></span>
											</span> <select id="sexo" class="form-control"
												th:field="*{sexo}">
												<option value="">Selecione ...</option>
												<option th:each="sexo : ${sexos}" th:value="${sexo}"
													th:text="${sexo.descricao}"
													th:classappend="${#fields.hasErrors('sexo')} ? 'is-invalid'">
												</option>
											</select>
											<div class="invalid-feedback">
												<span th:errors="*{sexo}"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
									<div class="form-group">
										<label for="cpf" class="control-label"><b>CPF</b></label> <input
											type="text" id="cpf" class="form-control" name="cpf"
											th:field="*{cpf}"
											th:classappend="${#fields.hasErrors('cpf')} ? 'is-invalid'"
											data-mask="999.999.999-99" />
										<div class="invalid-feedback">
											<span th:errors="*{cpf}"></span>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
									<div class="form-group">
										<label for="rg" class="control-label"><b>RG</b></label> <input
											type="text" id="rg" class="form-control" name="rg"
											th:field="*{rg}"
											th:classappend="${#fields.hasErrors('rg')} ? 'is-invalid'" />
										<div class="invalid-feedback">
											<span th:errors="*{rg}"></span>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
									<div class="form-group">
										<label for="emissor" class="control-label"><b>Orgão
												de Emissão do RG</b></label> <input type="text" id="emissor"
											class="form-control" name="emissor"
											th:field="*{emissorRg}"
											th:classappend="${#fields.hasErrors('emissorRg')} ? 'is-invalid'" />
										<div class="invalid-feedback">
											<span th:errors="*{emissorRg}"></span>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
									<div class="form-group">
										<label for="dataEmissao" class="control-label"><b>Data
												de Expedição do RG</b></label>
										<div class="input-group">
											<span class="input-group-prepend"> <span
												class="input-group-text fa fa-calendar fa-lg" aria-hidden="true"></span>
											</span> <input type="text" id="dataEmissao"
												class="form-control js-data" name="dataEmissao"
												th:field="*{dataEmissaoRg}"
												th:classappend="${#fields.hasErrors('dataEmissaoRg')} ? 'is-invalid'" />
											<div class="invalid-feedback">
												<span th:errors="*{dataEmissaoRg}"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
									<div class="form-group">
										<label for="nomeMae" class="control-label"><b>Nome
												da Mãe</b></label> <input type="text" id="nomeMae" class="form-control"
											name="nomeMae" th:field="*{nomeMae}"
											th:classappend="${#fields.hasErrors('nomeMae')} ? 'is-invalid'" />
										<div class="invalid-feedback">
											<span th:errors="*{nomeMae}"></span>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
									<div class="form-group">
										<label for="nomePai" class="control-label"><b>Nome
												do Pai</b></label> <input type="text" id="nomePai" class="form-control"
											name="nomePai" th:field="*{nomePai}"
											th:classappend="${#fields.hasErrors('nomePai')} ? 'is-invalid'" />
										<div class="invalid-feedback">
											<span th:errors="*{nomePai}"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
									<div class="form-group">
										<label for="profissao" class="control-label"><b>Profissão</b></label>
										<input type="text" id="profissao" class="form-control"
											name="profissao" th:field="*{profissao}"
											th:classappend="${#fields.hasErrors('profissao')} ? 'is-invalid'" />
										<div class="invalid-feedback">
											<span th:errors="*{profissao}"></span>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
									<div class="form-group">
										<label for="rendaMensal" class="control-label"><b>Renda
												Mensal</b></label>
										<div class="input-group">
											<span class="input-group-prepend"> <span
												class="input-group-text fa fa-usd fa-lg" aria-hidden="true"></span>
											</span> <input type="text" id="rendaMensal" class="form-control"
												name="rendaMensal" th:field="*{rendaMensal}"
												th:classappend="${#fields.hasErrors('rendaMensal')} ? 'is-invalid'"
												data-mask="#.##0,00" data-mask-reverse="true" />
											<div class="invalid-feedback">
												<span th:errors="*{rendaMensal}"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
									<div class="form-group">
										<label for="dependentes" class="control-label"><b>Dependentes</b></label>
										<input type="text" id="regimeCasamento" class="form-control"
											name="dependentes"
											th:field="*{totalDependentes}"
											th:classappend="${#fields.hasErrors('totalDependentes')} ? 'is-invalid'" />
										<div class="invalid-feedback">
											<span th:errors="*{totalDependentes}"></span>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
									<div class="form-group">
										<label for="regimeCasamento" class="control-label"><b>Regime
												Casamento</b></label>
										<div class="input-group">
											<span class="input-group-prepend"> <span
												class="input-group-text fa fa-list fa-lg" aria-hidden="true"></span>
											</span> <select id="regimeCasamento" class="form-control"
												th:field="*{regimeCasamento}">
												<option value="">Selecione ...</option>
												<option th:each="regimecasamento : ${regimecasamentos}"
													th:value="${regimecasamento}"
													th:text="${regimecasamento.descricao}"
													th:classappend="${#fields.hasErrors('regimeCasamento')} ? 'is-invalid'">
												</option>
											</select>
											<div class="invalid-feedback">
												<span th:errors="*{regimeCasamento}"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
									<div class="form-group">
										<label for="pais" class="control-label"><b>País</b></label>
										<div class="input-group">
											<span class="input-group-prepend"> <span
												class="input-group-text fa fa-list fa-lg" aria-hidden="true"></span>
											</span> <select id="pais" class="form-control"
												th:field="*{pais}">
												<option value="">Selecione ...</option>
												<option th:each="pais : ${paises}" th:value="${pais.id}"
													th:text="${pais.nome}"
													th:classappend="${#fields.hasErrors('pais')} ? 'is-invalid'">
												</option>
											</select>
											<span class="input-group-append">
												<button id="novoPais" class="btn btn-default  js-tooltip" type="button"
													data-toggle="modal" data-target="#">
													<i class="fa fa-plus fa-lg"></i>
												</button>
											</span>
											
											<div class="invalid-feedback">
												<span th:errors="*{pais}"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
									<div class="form-group">
										<label for="nacionalidade" class="control-label"><b>Nacionalidade</b></label>
										<input type="text" id="nacionalidade" class="form-control"
											name="nacionalidade" />
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
									<div class="form-group">
										<label for="cidade" class="control-label"><b>Cidade</b></label>
										<div class="input-group">
											<span class="input-group-prepend"> <span
												class="input-group-text fa fa-list fa-lg" aria-hidden="true"></span>
											</span> <input id="nomeCidade" type="text" class="form-control"
												placeholder="Clique na lupa para pesquisar a cidade"
												th:field="*{cidade.nome}" /> <input
												id="codigoCidade" type="hidden"
												th:field="*{cidade}" /> 
												<span class="input-group-append">
												<button class="btn  btn-default  js-tooltip" type="button"
													data-toggle="modal" data-target="#pesquisarCidade">
													<i class="fa fa-search fa-lg"></i>
												</button>
												<button class="btn btn-default  js-tooltip" type="button"
													data-toggle="modal" data-target="#">
													<i class="fa fa-plus fa-lg"></i>
												</button>
											</span>
											<div class="invalid-feedback">
												<span th:errors="*{cidade}"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
									<div class="form-group">
										<label for="estado" class="control-label"><b>Estado</b></label>
										<input id="nomeEstado" type="text" class="form-control" />
											<input id="codigoEstado" type="hidden"
												th:field="*{estado}" /> <span
												class="input-group-btn"></span>
											<div class="invalid-feedback">
												<span th:errors="*{estado}"></span>
											</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
									<div class="form-group">
										<label for="email" class="control-label"><b>E-mail</b></label>
										<div class="input-group">
											<span class="input-group-prepend"> <span
												class="input-group-text fa fa-envelope-o fa-lg" aria-hidden="true"></span>
											</span> <input type="email" id="email" class="form-control"
												name="email" th:field="*{email}"
												th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" />
											<div id="erroEmail" class="invalid-feedback">
												<span id="showErroEmail" th:errors="*{email}"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
									<div class="form-group">
										<label for="tipodePessoa" class="control-label"><b>Tipo de Pessoa Jurídica</b></label>
										<div class="input-group">
											<span class="input-group-prepend"> <span
												class="input-group-text fa fa-list fa-lg" aria-hidden="true"></span>
											</span> <select id="tipodePessoa" class="form-control"
												th:field="*{tipodePessoa}">
												<option value="">Selecione ...</option>
												<option th:each="tipodePessoa : ${tipodePessoas}"
													th:value="${tipodePessoa}"
													th:text="${tipodePessoa.descricao}"
													th:classappend="${#fields.hasErrors('tipodePessoa')} ? 'is-invalid'">
												</option>
											</select>
											<div class="invalid-feedback">
												<span th:errors="*{tipodePessoa}"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
									<div class="form-group">
										<label for="tipoPessoa" class="control-label"><b>Tipo de Relacionamento</b></label>
										<div class="input-group">
											<span class="input-group-prepend"> <span
												class="input-group-text fa fa-list fa-lg" aria-hidden="true"></span>
											</span> <select id="tipoPessoa" class="form-control"
												th:field="*{tipoPessoa}">
												<option value="">Selecione ...</option>
												<option th:each="tipoPessoa : ${tipoPessoas}"
													th:value="${tipoPessoa}"
													th:text="${tipoPessoa.descricao}"
													th:classappend="${#fields.hasErrors('tipoPessoa')} ? 'is-invalid'">
												</option>
											</select>
											<div class="invalid-feedback">
												<span th:errors="*{tipoPessoa}"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tile-footer">
								<div class="col-lg-offset-2 col-md-offset-2">
									<button type="submit" class="btn btn-primary " name="action"
										value="cadastrardadospessoais" data-toggle="tooltip"
										data-placement="top" title="Salvar o cadastro">
										<b>Salvar</b> <span class="fa fa-fw fa-lg fa-check-circle"
											aria-hidden="true"></span>
									</button>

									<button type="submit" class="btn btn-secondary " name="action"
										value="cancelar" data-toggle="tooltip"
										formnovalidate="formnovalidate" data-placement="top"
+										title="Cancelar o cadastro">
										<b>Cancelar</b> <span class="fa fa-fw fa-lg fa-times-circle"
											aria-hidden="true"></span>
									</button>
 									<th:block th:if="${pessoa.id} != null">
										<a  class="btn btn-success" data-toggle="tooltip"
											data-placement="top"
											th:href="@{/pessoa_fisica/enderecos/{id}(id=${pessoa.id})}"
											title="Cadastrar novo endereço"> <b>Cadastrar
												Endereços</b> <span class="fa fa-fw fa-lg" aria-hidden="true"></span>
										</a>
									</th:block>
									<th:block th:if="${pessoa.id} != null">
										<a  class="btn btn-warning" data-toggle="tooltip"
											data-placement="top"
											th:href="@{/pessoa_fisica/contatos/{id}(id=${pessoa.id})}"
											title="Cadastrar novo endereço"> <b>Cadastrar
												Contatos</b> <span class="fa fa-fw fa-lg" aria-hidden="true"></span>
										</a>
									</th:block>
								</div>
							</div>

						</div>
					</div>
					<th:block th:replace="crm/cidade/PesquisaCidade :: pesquisaCidade"></th:block>
					<th:block th:replace="crm/pais/editPais :: editar_pais"></th:block>

				</form>
			</div>
		</div>

	</section>
	<th:block layout:fragment="javascript-extra">

		<!-- <script th:src="@{/js/handlebars.min.js}"></script> 
		<script th:src="@{/js/uikit.min.js}"></script>
		<script th:src="@{/js/upload.min.js}"></script> -->
		<script th:src="@{/js/plugins/bootstrap-datepicker.min.js}"></script>
		<script th:src="@{/js/plugins/bootstrap-datepicker.pt-BR.min.js}"></script>
		<script th:src="@{/js/datatable/jquery.dataTables.min.js}"></script>
		<script th:src="@{/js/datatable/dataTables.bootstrap4.min.js}"></script>
		<script th:src="@{/js/datatable/dataTables.select.min.js}"></script>
		<script th:src="@{/js/mascaraDataPicker.js}"></script>

		<script th:src="@{/js/pesquisa.cidade.js}"></script>
		<!-- 		<script th:src="@{/js/pessoa.upload-foto.js}"></script> -->

		<script>
		    $(document).ready(function(){
		    	
		    	var nomePais = $("#nomePais");
		    	var erroNomePais = $("#erroNomePais");
		    	var showErroNomePais = $("#showErroNomePais");
		    	
		    	var nacionalidadePais = $("#nacionalidadePais");
		    	var erroNacionalidadePais = $("#erroNacionalidadePais");
		    	var showErroNacionalidadePais = $("#showErroNacionalidadePais");
		    	
		    	var email = $("#email");
		    	var erroEmail = $("#erroEmail");
		    	var showErroEmail = $("#showErroEmail");
		    	
		    	nomePais.blur(function(){
		    		if ($.trim(nomePais.val()).length == 0) {
		    			nomePais.addClass('is-invalid');
		    			erroNomePais.addClass('invalid-feedback');
		    			showErroNomePais.html("O nome do país deve ser informado.").show();
		    			nomePais.focus();
		    		}else {
		    			nomePais.removeClass('is-invalid');
		    			erroNomePais.removeClass('invalid-feedback');
		    			showErroNomePais.html('').hide();
		    		}
		    	});
		    	
		    	nacionalidadePais.blur(function(){
		    		if ($.trim(nacionalidadePais.val()).length == 0) {
		    			nacionalidadePais.addClass('is-invalid');
		    			erroNacionalidadePais.addClass('invalid-feedback');
		    			showErroNacionalidadePais.html("A nacionalidade do país deve ser informada.").show();
		    			nacionalidadePais.focus();
		    		}else {
		    			nacionalidadePais.removeClass('is-invalid');
		    			erroNacionalidadePais.removeClass('invalid-feedback');
		    			showErroNacionalidadePais.html('').hide();
		    		}
		    	});
		    	
		    	email.blur(function() {
					if ($.trim(email.val()).length == 0) {
						email.addClass('is-invalid');
						erroEmail.addClass('invalid-feedback');
						showErroEmail.html("Digite um endereço de E-mail válido.").show();
						email.focus();
						return false;
					}
					if (IsEmail(email) == false) {
						email.addClass('is-invalid');
						erroEmail.addClass('invalid-feedback');
						showErroEmail.html("Digite um endereço de E-mail válido.").show();
						email.focus()
						return false;
					}
					showErroEmail.html('').hide();
					erroEmail.removeClass('invalid-feedback');
					email.removeClass("is-invalid");

				});
		    	
		    	$(function(){
		    		var idcidade = $('#codigoCidade').val();
		    		if ( $.trim(idcidade).length != 0 ){
						var url="/rest/cidade/buscar_nome_cidade";
						$.ajax({
					        url: url,
					        type: 'GET',
					        data: {
					        	'id':idcidade,
					        },
					        datatype: 'json',
					        contentType: 'application/json; charset=utf-8',
					        success: function(data) {
				                $('#nomeEstado').val(data.mensagem);
				                $('#codigoCidade').val(data.id);
					        },	
					        error: function(xhr, status, error) {
					            alert(xhr.responseText);
					        },
						
						});
		    		} 	
		    	});
		    	
		    	$(function(){
		    		var idPais = $('#pais').val();
		    		if ( $.trim(idPais).length != 0 ){
			    		var url = "/rest/pais";
						$.ajax({
						  method : "GET",
						  url : url,
						  data:{
							  'id':idPais,
						  },
						  datatype: 'json',
					      contentType: 'application/json; charset=utf-8',
						  success : function(response){
							  $('#nacionalidade').val(response.nacionalidade);
						  },
						  error : function(jqXHR,textStatus, errorThrown) {
								alert(jqXHR.status+ ' '+ jqXHR.responseText);
						  }
					   });
		    		}	
		    	});
		    	
		    	$("#editarPais").find("#btnSalvarPais").on('click', function(event){
		    		event.preventDefault();
		    		var pais = {
		    			'nome': $("#nomePais").val(),
		    		    'nacionalidade' : $("#nacionalidadePais").val()
		    		};
		    		$.ajax({
		    			url: '/rest/pais/salvar',
		    			method : 'POST',
		    			contentType: 'application/json; charset=utf-8',
		    			data : JSON.stringify(pais),
		    			dataType: 'JSON',
		    		    success: function(data){
		    		        $('#pais').append('<option value=' + data.id + '>' + data.nome + '</option>');
 		    				$('#editarPais').modal('hide');
		    		    },
		    		    error : function(jqXHR,textStatus, errorThrown) {
							alert(jqXHR.status+ ' '+ jqXHR.responseText);
					    }
		    		});
		    	});
		    	
		    	
		    	
		    });
		    
			$('#pais').on('change',function(){
	 		   var idPais = $('#pais').val();
	 		   var url = "/rest/pais";
			   $.ajax({
				  method : "GET",
				  url : url,
				  data:{
					  'id':idPais,
				  },
				  datatype: 'json',
				  contentType: 'application/json; charset=utf-8',
				  success : function(response){
					  $('#nacionalidade').val(response.nacionalidade);
				  },
				  error : function(jqXHR,textStatus, errorThrown) {
						alert(jqXHR.status+ ' '+ jqXHR.responseText);
				  }
			   });	
 			});
			
			$('#nomeCidade').on('change', function(){
				var idcidade = $('#codigoCidade').val();
				var url="/rest/cidade/buscar_nome_cidade";
				$.ajax({
			        url: url,
			        type: 'GET',
			        data: {
			        	'id':idcidade,
			        },
			        datatype: 'json',
			        contentType: 'application/json; charset=utf-8',
			        success: function(data) {
		                $('#nomeEstado').val(data.mensagem);
		                $('#codigoCidade').val(data.id);
			        },	
			        error: function(xhr, status, error) {
			            alert(xhr.responseText);
			        },
				
				});
			});
			
			$("#cpf").on('change', function(evento) {
				var cpf = $("#cpf").val();
				var url="/rest/pessoa_fisica/buscar_cpf_pessoa_fisica";
				$.ajax({
			        url: url,
			        type: 'GET',
			        data: {
			        	'cpf':cpf,
			        },
			        datatype: 'json',
			        contentType: 'application/json; charset=utf-8',
			        success: function(data) {
			        	if (data.id=="201"){
			         		$("#cpfError").show().html(data.mensagem);
			        		$("#cpf").addClass('is-invalid')
			        		$("#cpf").focus();
			        	} else {
			        		$("#cpfError").html('').hide();
			        		$("#cpf").removeClass('is-invalid');
			        	}
			        },	
			        error: function(xhr, status, error) {
			            alert(xhr.responseText);
			        },
			    });
				
			});
			
			$("#novoPais").on('click', function(event){
				event.preventDefault();
			    $('#editarPais').modal();
			});
			
			
			
			
		</script>
	</th:block>
</body>
</html>