<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section layout:fragment="corpo">
		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-users"></i> Relacionamento com Clientes
				</h1>
			</div>
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
 			    <li class="breadcrumb-item">Menu</li>
				<li class="breadcrumb-item"><a th:href="@{/home}">Menu principal</a></li>
			</ul>
		</div>
		<div class="container-fluid">

			<div class="row grid-row">
				<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">Cadastro de Pessoa Física</h5>
							<a th:href="@{/pessoa_fisica/listar}">
								<i class="fa fa-user fa-3x" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">Cadastro de Pessoa Jurídica</h5>
							<a th:href="@{/pessoa_juridica/listar}"><i class="fa fa-industry fa-3x" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>
</body>
</html>